:root {
    --primary: #3399cc;
    --secondary: silver;
    --tertiary: white;
    --fourth: black;
}

* {
    font-family: futura;
}

/* FLEX CONTENT */
.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  /* FLEX CONTENT END */

.header-dashboard {
    background-color: var(--primary);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
}

.search-column {
    text-align: center;
    margin: 30px;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
}

.form-label {
    font-size: 20px;
    padding-right: 10px;
}

.form-input {
    width: 50%;
}

.quick-options {
    text-align: center;
} 

 .subtitle {
    font-size: 30px;
    padding-left: 25px;
}


.btn {
  font-size: 20px;
  padding: 5px;
  width: 100%;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  color: var(--fourth);
  border: 2px solid;
  background-color: var(--secondary);
  transform: translate(-1px, -1px);
}

.option-btn {
  font-size: 20px;
  padding: 5px;
  width: 75%;
  margin: 0px 30px 5px 30px;
  border-radius: 5px;
  color: var(--fourth);
  border: 2px solid;
  background-color: var(--secondary);
  transform: translate(-1px, -1px);
}

.btn:hover {
    background-color: var(--primary);
    transform: translate(0, 0);
}

.option-btn:hover {
    background-color: var(--primary);
    transform: translate(0, 0);
}

.results-display {
    text-align: center;
    margin: 30px;
    padding: 10px 0px 10px 20px;
    border: 2px solid;
    border-radius: 10px;
}

#current-city {
    font-size: 50px;
}

.current-icon {
    height: 75px;
    width: 75px;
}

.city-details {
    font-size: 25px;
}

.col-12 h3 {
    text-align: center;
    font-size: 35px;
    padding: 10px;
}

#forecast {
    margin: 20px;
}

.card {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}

.card-body img {
    height: 75px;
    width: 75px;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}